{% extends 'admin/base.html.twig' %}

{% block title %}: le blog{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Blog</h1>

    <a class="btn btn-info mb-2" href="{{ path('admin_blog_new') }}">Créer un nouveau blog +</a>

    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Mise en ligne le</th>
                <th>ImageBlob</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.titre }}</td>
                <td>{{ blog.description }}</td>
                <td>{{ blog.createdAt ? blog.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ blog.imageBlob }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_blog_edit', {'id': blog.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
