<!DOCTYPE html>

<title>HorairesEboutique</title>

{% block body %}
    <h1>HorairesEboutique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horaires_eboutique.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ horaires_eboutique.day }}</td>
            </tr>
            <tr>
                <th>OuvertureMatin</th>
                <td>{{ horaires_eboutique.ouvertureMatin }}</td>
            </tr>
            <tr>
                <th>FermetureSoir</th>
                <td>{{ horaires_eboutique.fermetureSoir }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('horaires_eboutique_index') }}">back to list</a>

    <a href="{{ path('horaires_eboutique_edit', {'id': horaires_eboutique.id}) }}">edit</a>

    {{ include('horaires_eboutique/_delete_form.html.twig') }}
{% endblock %}
